.vscode/**
__pycache__/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
testcases
driver.cpp
driver.py
driver.exe 
solution.cpp
solution.py
outputs